<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="signin.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



    </style>
</head>
<body>

<div class="container">
    <h2>Lançamentos</h2>
<form class="row g-3" method="post" action="/cadastra">
    <div class="col-md-4">
        <label class="form-label">Lançamento</label>
        {{ form.ds_lancamento(class="form-control", placeholder="ex. Conta de água") }}
    </div>
    <div class="col-md-2">
        <label class="form-label">Valor Previsto</label>
        {{ form.vl_previsto(class="form-control", placeholder="0,00", id="vl_previsto") }}
    </div>
    <div class="col-2">
        <label class="form-label">Valor Realizado</label>
        {{ form.vl_realizado(class="form-control", placeholder="0,00") }}
    </div>
    <div class="col-12">
        <label class="form-label">Parcela</label>
    </div>
    <div class="col-1">
        {{ form.parcela(class="form-control", placeholder="ex: 1") }}
    </div>
    <div class="col-12">
         <label class="form-label">Data de Vencimento</label>
    </div>
    <div class="col-md-4">

        {{ form.dt_vencimento(class="form-control") }}
    </div>
    <div>
        <label  class="form-label">Tipo de Lançamento</label>
    </div>
    <div class="col-md-2">

        {{ form.tp_lancamento(class="form-control") }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a class="btn btn-warning" href="/dash">Voltar</a>
    </div>
    <div class="col-12">
        <h3>lançamentos </h3>
    </div>
        </form>
            <div class="col-12">
                <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" >Descrição</th>
              <th scope="col"style="text-align:right;">Previsto</th>
              <th scope="col" style="text-align:right;">Realizado</th>
              <th scope="col" style="text-align:center;">Parcela</th>
              <th scope="col">Tipo</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
          {% for l in lista %}
                <tr>
                    <td>#</td>
                    <td >{{l.ds_lancamento}}</td>
                    <td style="text-align:right;">{{l.vl_previsto}}</td>
                    <td style="text-align:right;">{{l.vl_realizado}}</td>
                    <td style="text-align:center;">{{l.parcela}}</td>
                    <td>

                        {% if l.tp_lancamento == 'D' %}
                            Despesa
                        {% else %}
                            Receita
                        {% endif %}
                    </td>
                    <!-- Botão Excluir-->
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    <!-- Botão Editar-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </td>

                </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>


</body>
</html>